@use "../global" as *;

#other-page-header {
  width: 100%;
  height: 36.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://swimmingcoach.site-ym.com/resource/resmgr/asca_logos_image/pictures_for_main_page/pubs.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  nav {
    padding: 2.5rem 8vw;
    @include display-flex(flex, auto, center, space-between);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    @media (max-width: $query-lg) {
      padding: 1rem 3rem;
    }

    .logo {
      width: 8rem;

      a {
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    .links {
      ul {
        list-style: none;
        display: flex;
        gap: 2.8rem;

        a {
          text-decoration: none;
          transition: all 0.3s;
          font-weight: $fw-700;
          font-size: $a-size;
          color: $color-white;
          cursor: pointer;
        }
      }

      @media (max-width: $query-lg) {
        display: none;
      }
    }

    .cta-container {
      display: flex;
      height: 1.8rem;
      @include display-flex(flex, auto, center, center);

      @media (min-width: $query-md) {
        gap: 1rem;
      }
      a {
        padding: 0.8rem 2rem;
        font-weight: $fw-700;
        font-size: 0.9rem;
        text-decoration: none;
        transition: all 0.3s;
        color: $color-white;
        border-radius: 10rem;
        border: 2px solid $color-white;
        cursor: pointer;

        @media (max-width: $query-md) {
          display: none;
        }

        &:hover {
          background-color: $color-white;
          color: $color-purple;
        }
      }
    }

    .hamburger-menu {
      color: $color-white;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.3s;
      @include display-flex(flex, auto, center, center);

      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  .header-insc {
    position: absolute;
    width: 100%;
    top: 50%;

    p {
      text-align: center;
      color: $color-white;
      font-weight: $fw-600;
      font-size: 2.7rem;

      @media (max-width: $query-md) {
        font-size: 2.3rem;
      }
    }
  }
}
