@use "../global" as *;

.courses {
  margin-top: 3rem;

  .courses-slider {
    @media (max-width: $query-md) {
      @include display-flex(flex, column, center, auto);
    }

    @media (min-width: $query-md) {
      @include display-flex(flex, auto, auto, space-between);
      flex-wrap: wrap;
    }

    @media (min-width: $query-xl) {
      display: flex;
    }

    .course {
      width: 100%;
      transition: 0.3s;
      border-radius: 5px;
      background-color: $color-white;
      cursor: pointer;

      @media (min-width: $query-md) {
        width: 46.5%;
      }

      @media (min-width: $query-xl) {
        width: 21%;
      }

      .img-container {
        height: 17rem;
        position: relative;

        .price-tag {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: absolute;
          gap: 0.5rem;
          background-color: $color-purple;
          bottom: 67%;
          left: 78.6%;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 81px;
          width: 90px;
          height: 90px;

          span {
            font-size: 16px;
            font-weight: $fw-700;
            color: $color-white;
            margin-left: 0.5rem;
          }

          p {
            color: $color-white;
            font-size: 12px;
            opacity: 0.5;
            margin-left: 0.5rem;
          }
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          transition: all 0.3s;

          &:hover {
            opacity: 0.8;
          }

          @media (min-width: $query-xl) {
            max-width: 9.5rem;
            height: 9.5rem;
          }
        }
      }

      .course-content {
        padding: 2rem 2rem 2rem 2rem;

        .details {
          div {
            display: flex;
            gap: 0.5rem;

            i {
              color: $color-purple;
            }

            span {
              color: $color-dark-black;
              font-weight: $fw-700;
              font-size: 0.9rem;
            }
          }

          h2 {
            color: $color-dark-black;
            font-size: $h2-small;
            font-weight: $fw-600;
            margin-top: 0.8rem;
          }

          p {
            margin-top: 0.8rem;
            line-height: 1.5rem;
            font-weight: $fw-400;
            color: $color-light-black;
          }
        }
      }

      .addition {
        margin-top: 2.5rem;
        display: flex;
        justify-content: space-between;

        div {
          display: flex;
          gap: 0.5rem;

          i {
            color: $color-purple;
          }

          span {
            color: $color-dark-black;
            font-weight: $fw-700;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
