@mixin display-flex($display, $flex-direction, $align-items, $justify-content) {
  display: $display;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin purple-btn {
  a {
    padding: 0.9rem 2rem;
    font-weight: 700;
    font-size: 0.9rem;
    text-decoration: none;
    transition: all 0.3s;
    color: #ffffff;
    background-color: #4f2ec9;
    border-radius: 10rem;
    border: 2px solid #4f2ec9;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #4f2ec9;
      background-color: transparent;
      border: 2px solid #4f2ec9;
    }
  }
}

@mixin section-heading {
  span {
    letter-spacing: 0.1em;
    color: #4f2ec9;
    font-size: 0.8rem;
    font-weight: 600;
  }

  h2 {
    color: #181818;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0.8rem;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  p {
    margin-top: 2.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #333333;
  }
}
