// colors

$white-color: #ffffff;
$grey-color: #f5f7f9;
$black-color: #202124;
$light-black-color: #333333;
$purple-color: #4f2ec9;
$light-purple-color: #c5b5e8;
$light-green-color: #52e2bb;

// media

$sm-size: 668px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1100px;

// font-weight

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;
