@use "../global" as *;

.courses-section {
  padding: 5.5rem 8vw 5.5rem 8vw;
  background-color: $color-grey;

  .header {
    text-align: center;

    span {
      letter-spacing: 0.1em;
      color: $color-purple;
      font-size: 0.8rem;
      font-weight: $fw-600;
    }

    h2 {
      color: $color-dark-black;
      font-size: $h2-big;
      font-weight: $fw-600;
      margin-top: 0.8rem;

      @media (max-width: $query-md) {
        font-size: $h2-small;
      }
    }

    p {
      margin-top: 2.5rem;
      line-height: 1.5rem;
      font-weight: $fw-400;
      color: $color-light-black;
    }
  }

  .courses {
    margin-top: 3rem;

    .full-list-link {
      margin-top: 2.5rem;
      text-align: center;

      p {
        color: $color-light-black;

        a {
          font-size: $a-size;
          font-weight: $fw-700;
          cursor: pointer;
          color: $color-purple;
          transition: all 0.3s;
          text-decoration: none;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 53%;
            transform: translateX(-50%);
            border-radius: 5rem;
            width: 50px;
            height: 1.7px;
            background-color: $color-purple;
          }
        }
      }
    }
  }
}
