@use "../global" as *;

.team-section {
  padding: 5.5rem 8vw 5.5rem 8vw;
  background-color: $color-white;

  .header.home-page {
    text-align: center;

    span {
      letter-spacing: 0.1em;
      color: $color-purple;
      font-size: 0.8rem;
      font-weight: $fw-600;
    }

    h2 {
      color: $color-dark-black;
      font-size: $h2-big;
      font-weight: $fw-600;
      margin-top: 0.8rem;

      @media (max-width: $query-sm) {
        font-size: $h2-small;
      }
    }

    p {
      margin-top: 2.5rem;
      line-height: 1.5rem;
      font-weight: $fw-400;
      color: $color-light-black;
    }
  }

  .header.team-page {
    .text {
      @media (min-width: $query-xl) {
        display: flex;
      }

      .header {
        @media (min-width: $query-xl) {
          width: 50%;
        }

        span {
          letter-spacing: 0.1em;
          font-size: 0.8rem;
          font-weight: $fw-600;
          color: $color-purple;
        }

        h2 {
          color: $color-dark-black;
          font-size: $h2-big;
          font-weight: $fw-600;
          margin-top: 0.8rem;

          @media (max-width: $query-md) {
            font-size: $h2-small;
          }

          @media (min-width: $query-xl) {
            width: 50%;
            width: 537px;
          }
        }
      }

      .desc {
        @media (max-width: $query-xl) {
          margin-top: 2.5rem;
        }

        @media (min-width: $query-xl) {
          width: 50%;
        }
      }
    }
  }
}
