@use "./global/vars" as *;
@use "./global/mixin" as *;

header {
  width: 100%;
  z-index: 999;

  nav {
    padding: 2rem 3rem;
    @include display-flex(flex, auto, center, space-between);

    @media (max-width: $lg-size) {
      padding: 1rem 3rem;
    }

    .logo {
      width: 8rem;

      a {
        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }

    .nav-links {
      ul {
        list-style: none;
        display: flex;
        gap: 2.8rem;

        a {
          text-decoration: none;
          transition: all 0.3s;
          font-weight: $fw-700;
          font-size: 1rem;
          color: $black-color;
          cursor: pointer;

          &:hover {
            color: $purple-color;
          }
        }
      }

      @media (max-width: $lg-size) {
        display: none;
      }
    }

    .cta-container {
      display: flex;
      gap: 1rem;

      a {
        padding: 0.8rem 2rem;
        font-weight: $fw-700;
        font-size: 0.9rem;
        text-decoration: none;
        transition: all 0.3s;
        color: $purple-color;
        border-radius: 10rem;
        border: 2px solid $purple-color;
        cursor: pointer;

        @media (max-width: $sm-size) {
          display: none;
        }

        &:hover {
          background-color: $purple-color;
          color: $white-color;
        }
      }
    }

    .hamburger-menu {
      display: flex;
      justify-content: center;

      i {
        color: $purple-color;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s;
        @include display-flex(flex, auto, center, auto);
      }
    }
  }

  .mob-nav {
    background: $white-color;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
    @include display-flex(flex, column, auto, auto);

    i {
      transition: all 0.3s;
      font-size: 2rem;
      position: absolute;
      top: 2.2rem;
      right: 2.8rem;
      cursor: pointer;
      color: $purple-color;
    }

    .mob-nav-links {
      height: 100%;

      ul {
        height: 100%;
        list-style: none;
        gap: 2.8rem;
        @include display-flex(flex, column, center, center);

        li {
          a {
            text-decoration: none;
            color: $black-color;
            cursor: pointer;
            font-weight: $fw-700;
            font-size: 1.2rem;
            transition: all 0.3s;

            &:hover {
              color: $purple-color;
            }
          }
        }
      }
    }
  }

  .open {
    right: 0;
  }
}
