@use "./global/vars" as *;
@use "./global/mixin" as *;

.hero {
  max-height: 37.5rem;
  background-color: $grey-color;

  img {
    max-height: 37.5rem;
    min-height: 32rem;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }
}
