@use "../../global" as *;

.achievements {
  margin-top: 2.5rem;

  h2 {
    color: $color-dark-black;
    font-size: $h2-big;
    font-weight: $fw-600;
    margin-top: 0.8rem;

    @media (max-width: $query-sm) {
      font-size: $h2-small;
    }
  }

  ul {
    margin-top: 2.5rem;
    @include display-flex(flex, column, auto, auto);
    gap: 1rem;

    li {
      @include display-flex(flex, auto, center, flex-start);
      gap: 1rem;

      .check-icon {
        @include display-flex(flex, auto, center, center);
        background-color: #52e2bb;
        color: $color-white;
        border-radius: 999rem;
        height: 22px;
        width: 22px;

        svg {
          font-size: 15px;
        }
      }

      p {
        font-size: 15px;
        font-weight: $fw-700;
        color: $color-light-black;
      }
    }
  }
}
