@use "../../global" as *;

.progress-bar {
  @include display-flex(flex, column, auto, flex-start);
  margin-top: 4rem;
  gap: 2rem;

  .progress-line {
    @include display-flex(flex, column, auto, auto);
    gap: 0.5rem;

    .progress-visual-full {
      width: 100%;
      height: 6px;
      display: flex;

      .progress-visual-part {
        transition: width 2.5s;
        color: $color-purple;
      }
    }

    .progress-details {
      @include display-flex(flex, auto, center, space-between);

      .percentages {
        font-weight: $fw-700;
      }
    }
  }
}
