@use "../../global/" as *;

.contact-field {
  padding: 5.5rem 8vw 5.5rem 8vw;
  background-color: $color-white;

  @media (max-width: 0px) {
    @include flex-column();
  }

  @media (min-width: $query-lg) {
    display: flex;
  }

  .form-container {
    @media (min-width: $query-lg) {
      width: 50%;
    }

    .header {
      width: 100%;

      span {
        letter-spacing: 0.1em;
        font-size: 0.8rem;
        color: $color-purple;
        font-weight: $fw-600;
      }

      h2 {
        color: $color-dark-black;
        font-size: $h2-big;
        font-weight: $fw-600;
        margin-top: 0.8rem;

        @media (max-width: $query-sm) {
          font-size: $h2-small;
        }
      }

      p {
        margin-top: 2.5rem;
        line-height: 1.5rem;
        font-weight: $fw-400;
        color: $color-light-black;
      }
    }
  }

  .img-container {
    gap: 2.5rem;
    margin-top: 2.5rem;

    @media (min-width: $query-md) {
      height: 30rem;
    }

    @media (min-width: $query-lg) {
      @include display-flex(flex, column, flex-end, flex-end);
      width: 50%;
      height: 100%;
      gap: 3rem;
      margin-top: 0;
    }

    @media (max-width: $query-lg) {
      @include display-flex(flex, auto, auto, space-between);
    }

    .img1 {
      width: 45%;
      min-height: 20rem;
      object-fit: cover;

      @media (min-width: $query-md), (max-width: $query-md) {
        margin-top: 3rem;
      }

      @media (min-width: $query-lg) {
        margin-top: 0;
        width: 86%;
        height: 40rem;
      }
    }

    .img2 {
      width: 45%;
      min-height: 20rem;
      object-fit: cover;

      @media (min-width: $query-md), (max-width: $query-md) {
        margin-bottom: 3rem;
      }

      @media (min-width: $query-lg) {
        margin-bottom: 0rem;
        width: 86%;
        height: 40rem;
      }
    }
  }
}
