@use "../../global/" as *;

.member-skills {
  padding: 5.5rem 8vw 5.5rem 8vw;
  background-color: $color-white;

  @media (min-width: 768px) {
    @include display-flex(flex, auto, center, center);
    background-image: linear-gradient(
      to left,
      $color-grey 38%,
      rgba(0, 0, 0, 0) 20%
    );
  }

  .skills {
    width: 100%;

    .header {
      @include section-heading;
      text-align: left;
    }
  }

  .img-container {
    width: 100%;
    @include display-flex(flex, auto, center, flex-end);

    @media (max-width: 768px) {
      margin-top: 4rem;
      justify-content: center;
    }

    img {
      width: 90%;
      height: 20rem;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
