@use "../../global" as *;

.white {
  padding: 5.5rem 8vw 5.5rem 8vw;

  .header {
    @include section-heading;
    text-align: center;
  }
}

.grey {
  @extend .white;
  background-color: $color-grey;
}
