@use "../../global" as *;

.training-overview {
  padding: 5.5rem 8vw 0 8vw;
  background-color: $color-grey;

  @media (min-width: $query-lg) {
    @include display-flex(flex, auto, auto, center);
  }

  .images {
    gap: 2.5rem;
    margin-top: 2.5rem;

    @media (min-width: $query-md) {
      height: 30rem;
    }

    @media (min-width: $query-lg) {
      @include display-flex(flex, column, flex-start, flex-start);
      width: 50%;
      height: 100%;
      gap: 3rem;
      margin-top: 0;
    }

    @media (max-width: $query-lg) {
      @include display-flex(flex, auto, auto, space-between);
    }

    .img1 {
      width: 45%;
      min-height: 20rem;
      object-fit: cover;

      @media (min-width: $query-md), (max-width: $query-md) {
        margin-top: 3rem;
      }

      @media (min-width: $query-lg) {
        margin-top: 0;
        width: 86%;
        height: 40rem;
      }
    }

    .img2 {
      width: 45%;
      min-height: 20rem;
      object-fit: cover;

      @media (min-width: $query-md), (max-width: $query-md) {
        margin-bottom: 3rem;
      }

      @media (min-width: $query-lg) {
        margin-bottom: 0rem;
        width: 86%;
        height: 40rem;
      }
    }
  }

  .section-heading {
    @include section-heading;
    margin-top: 3rem;

    @media (min-width: $query-lg) {
      width: 50%;
      margin-top: 0;
    }
  }
}
