@use "../../global" as *;

.mobile-menu {
  background: $color-white;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  @include display-flex(flex, column, auto, auto);

  i {
    transition: all 0.3s;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    cursor: pointer;
    color: $color-purple;
  }

  .links {
    height: 100%;
    margin-bottom: 12rem;

    ul {
      height: 100%;
      list-style: none;
      gap: 2rem;
      @include display-flex(flex, column, center, center);

      li {
        width: 100%;

        a {
          padding-left: 2.5rem;
          text-decoration: none;
          color: $color-dark-black;
          cursor: pointer;
          font-weight: $fw-700;
          font-size: 1.1rem;
          transition: all 0.3s;
          display: flex;
          align-items: center;
          justify-content: space-between;

          svg {
            margin-right: 2.5rem;
            font-size: 1.1rem;
          }

          &:hover {
            color: $color-purple;
          }
        }
      }
    }
  }

  &.open {
    left: 0;
  }
}
