@use "../../global" as *;

.tabs {
  .tab-list {
    margin-top: 2.5rem;

    ul {
      list-style: none;
      display: flex;
      gap: 1.6rem;

      @media (max-width: 500px) {
        @include display-flex(auto, column, flex-start, auto);
        height: 8.5rem;
        gap: 1rem;
      }

      @media (min-width: $query-lg) {
        @include display-flex(auto, column, flex-start, auto);
        height: 8.5rem;
        gap: 0;
      }

      li {
        font-size: $a-size;
        font-weight: $fw-700;
        cursor: pointer;
        color: #828f99;
        transition: all 0.3s;
        margin-bottom: auto;

        div {
          display: none;
        }

        &:hover {
          color: $color-dark-black;
        }
      }

      .active {
        font-size: 1rem;
        font-weight: $fw-700;
        color: $color-dark-black;
        cursor: pointer;
        transition: all 0.3s;

        div {
          display: block;
          margin-top: 13%;
          margin-left: 50%;
          border-radius: 5rem;
          width: 6px;
          height: 6px;
          background-color: $color-purple;

          @media (max-width: $query-sm) {
            margin-left: 0;
          }

          @media (min-width: $query-lg) {
            margin-left: 0;
          }
        }
      }
    }
  }

  .tab-content {
    margin-top: 2rem;

    h4 {
      font-weight: $fw-600;
      color: $color-dark-black;
      font-size: 1.1rem;

      @media (max-width: $query-md) {
        font-size: 1rem;
      }
    }

    div {
      margin-top: 1.7rem;
      line-height: 1.5rem;
      font-weight: $fw-400;
      color: $color-light-black;
    }
  }

  .learn-more-btn {
    @include display-flex(flex, auto, center, auto);
    margin-top: 2.5rem;
    height: 3.5rem;
    @include purple-btn;
  }
}
